<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomotracker</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <nav class="navbar navbar-dark bg-primary d-flex justify-content-between">
        <div class="d-flex">
            <a href="{% url 'main:home' %}" class="text-white nav-link">Home</a>

            {% if user.is_authenticated %}
            <a href="{% url 'pomodoros:index' %}" class="text-white nav-link">All Pomodoros</a>
        </div>
        <a href="{% url 'logout' %}" class="text-white nav-link">Log out</a>
        {% else %}
        </div>
        <a href="{% url 'login' %}" class="text-white nav-link">Log in</a>
        {% endif %}
    </nav>
    <div class="d-flex justify-content-center pt-5">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>